:root {
    font-size: 62.5%;
    font-family: sans-serif;
    color: #4b4b4b;
    line-height: 1.5;

    --space-xxs: 0.4rem;  /* 4px */
    --space-xs: 0.8rem;   /* 8px */
    --space-s: 1.2rem;    /* 12px */
    --space-m: 1.6rem;    /* 16px */
    --space-l: 2.4rem;    /* 24px */
    --space-xl: 3.2rem;   /* 32px */
    --space-xxl: 4.8rem;  /* 48px */
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: clamp(2rem, calc(2rem + 2vw), 4.0rem);
    margin-top: clamp(.2rem, calc(.2rem + 2vw), .8rem);
    margin-bottom: clamp(2.4rem, calc(2rem + 2vw), 4.4rem);
    padding: clamp(0rem, 0rem, 0rem) 
            clamp(1.6rem, calc(1.4rem + 2vw), 2.4rem);
    color: #535353;
    text-align: center;
}

h2 {
    font-size: clamp(2.2rem, 2vw, 2.8rem);
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: clamp(1.2rem, calc(1rem + 2vw), 1.8rem);
    margin: .2rem 0rem;
}

body {
   background-color: #424242; 
   display: flex;
   justify-content: center;
}

.main {
    background-color: white;
    margin: clamp(0.2rem, calc(0.2rem + 2vw), 2.0rem)   /* top & bottom */
         clamp(0.6rem, 5vw, 12rem);  /* left & right */
    padding: clamp(0.2rem, calc(0.2rem + 2vw), 3.2rem) 
        clamp(0.2rem, calc(0.2rem + 2vw), 4.8rem);
    padding-bottom: 7.2rem;
    border-radius: .8rem;
    max-width: 96rem;
}

.hero, .section {
    display: flex;
    flex-direction: column;
    padding: clamp(0.2rem, 2.5vw, 0.4rem) 
            clamp(0.2rem, 5vw, 3.2rem);
}

.hero {
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.hero .logo {
    max-width: 52rem;
}

.section {
   padding: clamp(0.8rem, calc(.8rem + 2vw), 1.8rem) 
            clamp(1.2rem, calc(1rem + 3vw), 3.6rem); 
   display: flex;
}

.brand-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 1.2rem 2rem;
    flex-wrap: wrap;
}

.logo-card {
    display: flex;
    justify-content: center;
    /*border: .4rem solid gray;*/
    border-radius: 1.2rem;
    flex: 1;
    height: auto;
    width: auto;
}

.brand-logos img {
    object-fit:cover;
    height: auto;
    max-width: 14rem;
    min-width: 14rem;    
}

a {
    text-decoration: none;
    color: rgb(18, 118, 189);
}









